{% extends 'base.html' %}
{% block content %}

<h1>Clip Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ clip.streamer }}</span>
        <p>Game: {{ clip.game }}</p>
        <p>Description:{{ clip.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'clips_update' clip.id %}">Edit</a>
        <a href="{% url 'clips_delete' clip.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_comment' clip.id %}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" value="Add Comment" class="btn">
    </form>
</div>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Description</th></tr>
      </thead>
      <tbody>
        {% for comment in clip.comment_set.all %}
          <tr>
            <td>{{comment.date}}</td>
            <td>{{comment.comment}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% comment %} <hr>
<div class="row">
  <div class="col s6">
    <h3>{{ cat.name }}'s Toys</h3>
    {% if cat.toys.count %}
      {% for toy in cat.toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
               <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Toys :(</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
</div>
<div class="col s6">
  <h3>Available Toys</h3>
  {% if toys.count %}
    {% for toy in toys.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_toy' cat.id toy.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>{{cat.name}} Already Has All Toys Available</h5>
  {% endif %}
</div> {% endcomment %}

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

</script>

{% endblock %}